body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* HEADER */
header {
    position: relative; 
    background-color: #fff;
    border-bottom: 1px solid #d9d9d9;
    box-sizing: border-box;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
    padding: 32px;
    gap: 0px 14px;
    text-align: left;
    font-size: 16px;
    color: #1e1e1e;
    z-index: 1000;
}


.logo-icon {
    width: 100px;
    position: relative;
    border-radius: 50.5px;
    height: 100px;
    object-fit: cover;
}
.logo-icon:hover {
    transform: scale(1.10);
}

.dropdown {
    position: relative;
}
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 8;
    background: #333;
    color: white;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 350px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.dropdown-menu li {
    padding: 10px;
}
.dropdown-menu li a {
    color: white;
    text-decoration: none;
    display: block;
}
.dropdown-menu li a:hover {
    color: #A5C3A9;
}


.dropdown:hover .dropdown-menu {
    display: block;
}

.navigation-pill-list {
    flex: 1;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 50px; 
}
        .navigation-pill {
            padding: 15px 25px;
            font-size: 18px;
            border-radius: 8px;
            background-color: #A5C3A9;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .navigation-pill:hover {
            background-color: #c9c9c9;
            transform: scale(1.20);

        }
        .title3 {
            position: relative;
            line-height: 100%;
            color: rgba(0, 0, 0, 0.75);
            text-decoration: none;
            font-size: larger;
        } 

/* CONTENU */
.souspartie {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding: 50px 20px;
}

.souspartie section {
  max-width: 500px;
  text-align: center;
}

.souspartie img {
  width: 100%;
  border-radius: 12px;
  margin-top: 15px;
}

/* TITRES */
h3 {
  color: #2e7d32;
  margin-bottom: 10px;
}
